
body{
margin: 0;
}

header{
 width: 800px;  
 height: 200px; 
 border: 2px solid orange;
 margin-top: 0%;
}


nav{
height: 400px;
width: 100px;
border: 2px solid greenyellow;
margin-top: 0px; 
}

section{
 width: 700px;   
 height: 400px;
 border: 2px solid blue;
 margin-top: -404px; 
 margin-left: 100px;
 text-align: center;
 font-size: 30px;
 color: palevioletred;
 
}

footer{
width: 800px;  
height: 200px; 
border: 2px solid aqua;
 }